# Cleaning Data

## Table of Contents

1. [Find restaurants in Business data](#Find-restaurants-in-Business-data)
2. [Select restaurant reviews from Review data](#Select-restaurant-reviews-from-Review-data)
3. [Clean Review Data](#Clean-Review-Data)
4. [Clean Restaurant data](#Clean-restaurant-data)

### Import Libraries

In [1]:
import csv
import os
import pandas as pd
from time import time

### Set filepaths

In [2]:
raw_data_directory     = os.path.join('..', 'data', 'raw')
interim_data_directory = os.path.join('..', 'data', 'interim')

review_filepath            = os.path.join(raw_data_directory, 'yelp_academic_dataset_review.csv')
business_filepath          = os.path.join(raw_data_directory, 'yelp_academic_dataset_business.csv')
restaurant_review_filepath = os.path.join(interim_data_directory, 'restaurant_review.csv')
restaurant_filepath        = os.path.join(interim_data_directory, 'restaurant.csv')

### Find restaurants in Business data
Restaurants are businesses with "Restaurants" in the `categories` column.

In [3]:
%%time

restaurant_ids = set()

with open(restaurant_filepath, mode = 'w', encoding = 'utf_8') as f_out:
    with open(business_filepath, encoding = 'utf_8') as f_in:

        reader = csv.DictReader(f_in)
        columns = reader.fieldnames
        
        writer = csv.DictWriter(f_out, fieldnames = columns)
        writer.writeheader()

        # iterate through each line in the file
        for row in reader:

            # skip businesses that are not restaurants
            try: 
                if 'Restaurants' not in row['categories']:
                    continue
            except:
                continue

            # add business_id to restaurant_ids set
            restaurant_ids.add(row['business_id'])
            
            # write row
            writer.writerow(row)            

restaurant_ids = frozenset(restaurant_ids)

print (f'Found {len(restaurant_ids)} restaurants.')

Found 57173 restaurants.
CPU times: user 7.19 s, sys: 223 ms, total: 7.41 s
Wall time: 7.59 s

### Select restaurant reviews from Review data

Save restaurant reviews to a separate file.

In [36]:
%%time

# Change to True to run this code block. Estimated runtime: 3 minutes
run = False

if run:
    num_reviews = 0

    # Write restaurant reviews to csv file
    with open(restaurant_review_filepath, 'w', encoding = 'utf_8') as f_out:

        # Open all reviews csv file
        with open(review_filepath, encoding = 'utf_8') as f_in:
            # Instantiate reader
            reader = csv.DictReader(f_in)

            # Get column names
            columns = reader.fieldnames

            # Instantiate writer
            writer = csv.DictWriter(f_out, fieldnames = columns)

            # Write column names
            writer.writeheader()

            # Loop through all reviews
            for row in reader:            
                # Skip reviews that are not about a restaurant
                if row['business_id'] not in restaurant_ids:
                    continue

                # Write row    
                writer.writerow(row)
                num_reviews += 1

    print (f'Found {num_reviews} restaurant reviews.')

Found 3654797 restaurant reviews.
CPU times: user 2min 17s, sys: 5.62 s, total: 2min 23s
Wall time: 2min 25s

#### Load Restaurant Review data

In [4]:
review_df = pd.read_csv(restaurant_review_filepath)
review_df.head()

,text,cool,funny,review_id,date,stars,business_id,useful,user_id
0,The pizza was okay. Not the best I've had. I p...,0,0,x7mDIiDB3jEiPGPHOmDzyw,2011-02-25,2,iCQpiavjjPzJ5_3gPD5Ebg,0,msQe1u7Z_XuqjGoqhB0J5g
1,I love this place! My fiance And I go here atl...,0,0,dDl8zu1vWPdKGihJrwQbpw,2012-11-13,5,pomGBqfbxcqPv14c3XH-ZQ,0,msQe1u7Z_XuqjGoqhB0J5g
2,Terrible. Dry corn bread. Rib tips were all fa...,1,1,LZp4UX5zK3e-c5ZGSeo3kA,2014-10-23,1,jtQARsP6P-LbkyjbO1qNGg,3,msQe1u7Z_XuqjGoqhB0J5g
3,Back in 2005-2007 this place was my FAVORITE t...,0,0,Er4NBWCmCD4nM8_p1GRdow,2011-02-25,2,elqbBhBfElMNSrjFqW3now,2,msQe1u7Z_XuqjGoqhB0J5g
4,Delicious healthy food. The steak is amazing. ...,0,0,jsDu6QEJHbwP2Blom1PLCA,2014-09-05,5,Ums3gaP2qM3W1XcA5r6SsQ,0,msQe1u7Z_XuqjGoqhB0J5g

### Get the reviewed restaurants

In [5]:
business_df = pd.read_csv(business_filepath)

In [14]:
business_df.nlargest(5, 'review_count')[['business_id', 'name', 'review_count']]

                   business_id                 name  review_count
137635  4JNXUYY8wbaaDmk3BPzlWw         Mon Ami Gabi          7968
185167  RESDUcs7fIiihp38-d6_6g     Bacchanal Buffet          7866
62723   K7lWdNUhCbcnEvI0NhGewg         Wicked Spoon          6446
188309  cYwJA2A6I12KNkm2rtXd5g  Gordon Ramsay BurGR          5472
170129  f4x1YBxkLrZg652xt2KR5g   Hash House A Go Go          5382

#### Cross reference with review data

In [7]:
review_df['business_id'].value_counts().head()

4JNXUYY8wbaaDmk3BPzlWw    7968
RESDUcs7fIiihp38-d6_6g    7861
K7lWdNUhCbcnEvI0NhGewg    6447
cYwJA2A6I12KNkm2rtXd5g    5472
f4x1YBxkLrZg652xt2KR5g    5382
Name: business_id, dtype: int64

For the rest of this project, I will use Mon Ami Gabi.

### Clean Review Data

#### Check for missing data

In [32]:
review_df.isna().sum()

text           1
cool           0
funny          0
review_id      0
date           0
stars          0
business_id    0
useful         0
user_id        0
dtype: int64

There is one review with missing text, so let's remove it.

#### Drop rows with missing reviews

In [33]:
review_df[review_df['text'].isna()]

,text,cool,funny,review_id,date,stars,business_id,useful,user_id
2882650,NaN,0,0,QW01qOsaqlxMKoMazOw1Bg,2018-06-17,0,FgNgBLayRFm6H6Qr66ecbQ,0,wrqh88xVEE1U5d_5TjzN4Q

In [34]:
review_df.drop(review_df[review_df['text'].isna()].index, axis = 0, inplace = True)

In [35]:
review_df[review_df['text'].isna()]

Empty DataFrame
Columns: [text, cool, funny, review_id, date, stars, business_id, useful, user_id]
Index: []

#### Add actual `business_name` to Review Data

In [38]:
# Build a dictionary to map business_id : business_name 
business_id_name_mapper = dict(zip(business_df['business_id'], business_df['name']))

In [39]:
%%time
# add business name to dataframe
review_df['business_name'] = review_df['business_id'].map(business_id_name_mapper)

CPU times: user 1.62 s, sys: 55.8 ms, total: 1.67 s
Wall time: 1.7 s

In [40]:
review_df.head()

,text,cool,funny,review_id,date,stars,business_id,useful,user_id,business_name
0,The pizza was okay. Not the best I've had. I p...,0,0,x7mDIiDB3jEiPGPHOmDzyw,2011-02-25,2,iCQpiavjjPzJ5_3gPD5Ebg,0,msQe1u7Z_XuqjGoqhB0J5g,Secret Pizza
1,I love this place! My fiance And I go here atl...,0,0,dDl8zu1vWPdKGihJrwQbpw,2012-11-13,5,pomGBqfbxcqPv14c3XH-ZQ,0,msQe1u7Z_XuqjGoqhB0J5g,Leticia's Mexican Cocina
2,Terrible. Dry corn bread. Rib tips were all fa...,1,1,LZp4UX5zK3e-c5ZGSeo3kA,2014-10-23,1,jtQARsP6P-LbkyjbO1qNGg,3,msQe1u7Z_XuqjGoqhB0J5g,H&H BBQ Plus 2
3,Back in 2005-2007 this place was my FAVORITE t...,0,0,Er4NBWCmCD4nM8_p1GRdow,2011-02-25,2,elqbBhBfElMNSrjFqW3now,2,msQe1u7Z_XuqjGoqhB0J5g,Pin Kaow Thai Restaurant
4,Delicious healthy food. The steak is amazing. ...,0,0,jsDu6QEJHbwP2Blom1PLCA,2014-09-05,5,Ums3gaP2qM3W1XcA5r6SsQ,0,msQe1u7Z_XuqjGoqhB0J5g,Braddah's Island Style

#### Remove `\n` characters

In [41]:
review_df['text'] = review_df['text'].apply(lambda row : row.replace('\n', ' '))

In [42]:
# Confirm '\n' characters are removed
review_df[review_df['text'].str.contains('\n')]

Empty DataFrame
Columns: [text, cool, funny, review_id, date, stars, business_id, useful, user_id, business_name]
Index: []

#### Keep relevant columns

In [43]:
review_df = review_df[['date', 'stars', 'text', 'review_id', 'business_id', 'business_name']]

In [77]:
review_df[review_df['business_name']=='Euro Shawarma']

,date,stars,text,review_id,business_id,business_name
29656,2014-02-27,2,"I've had better shawarama, it just tastes a li...",BZqwk1avJKbaEVU9r94G7A,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
36953,2014-04-09,5,One of the best if not THE best beef shawarma ...,JcOoOV98S_vqzOtNAluBtA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
140389,2016-02-18,3,If u go during rush time good luck because it ...,Lb33clc09RDML39TbMll4Q,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
181709,2013-06-08,3,"The restaurant is very clean and modern, I was...",d19BqUan5Ke27qPgJ4HYqg,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
191503,2014-10-07,4,Very good service there.... always have fresh ...,zU1te6zVk4Jd3Nkp5x9maw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
219112,2015-01-02,5,This place has the best prepared sides of any ...,VRWcyii54hqPI58PVXpbmw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
254957,2015-01-21,4,My pick for the best shawarma in town. Service...,NUnkOEoPenLixVNNS0c6zg,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
283079,2014-12-20,2,No rice for you! I felt like I was in a Seinf...,KICPIFVqWNjBXv_iJZqiFQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
286156,2015-10-08,5,Chicken shawarma plate every time I go! It's ...,qPjm25kJVPOQA3WL9tJruw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
401455,2017-10-14,5,One of the best shawarma places in the city. N...,lJ7m7gk2Ssj21kVfmq6l8Q,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
423879,2015-02-12,5,This is the BEST shawarma in town!! When you s...,SMWBd9kf05uMj5G5KrszUA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
518527,2017-11-18,5,Favourite shawarma place! Food is delicious an...,wJi1jg5CM1Cq3FpIwsLTLQ,XczlQNshayG-GCciSEYKvA,Euro Shawarma
549303,2017-05-14,4,The ingredients were so fresh and the chicken ...,jCuebLxYLbE2KSeBvS4PcQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
627379,2017-07-25,5,Seriously. Hands down best shawarma I've had. ...,xYMXSMqXIsqC74sLdet0CA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
709758,2016-07-16,4,Can be busy at lunch (even as late as 1:30). F...,rzuvpoyfTiTe-k4aqKPW6A,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
800778,2017-11-02,3,I had the shawarma sandwich for lunch.. wasn't...,uUW_iAJ1W987ESOvYVU8SQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
883489,2014-01-16,5,I legitimately joined Yelp to review this plac...,DuRe3aM786V3YSqR1flbXQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
899289,2015-04-14,4,"WOW! extremely busy place, go before lunch hou...",mjtwT4FCiXTg_uIs5WjjSQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
941178,2013-11-13,1,After trying this place once I will most likel...,c4IVBuA446_43GiJcUwIOw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
983482,2017-12-19,4,I will pay good money for the tzatziki sauce r...,_VP4v3ZUE3cuiO_9aPPwYQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
985083,2016-07-04,1,ordered from these people on just eat and neve...,l8mRgMZfPCG0cXkmJ-27ag,XczlQNshayG-GCciSEYKvA,Euro Shawarma
1093463,2013-08-10,4,It was one of those days for me that I have be...,Bb5B9AWfFlhWdcFecuwvYw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1211977,2018-06-27,5,I usually stick to wraps/sandwiches at these p...,1YOqGNQsFeYHFqLvAPXWug,XczlQNshayG-GCciSEYKvA,Euro Shawarma
1314372,2016-07-07,5,"OK folks, while I can't vouch for the authenti...",GytfDy0KFTrSU_aAvDK7FQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1354707,2016-05-02,5,These guys were fantastic. The quality of food...,o1pxDjbrRWw2Ccrnnh3yYQ,XczlQNshayG-GCciSEYKvA,Euro Shawarma
1375165,2014-10-21,5,Hands down the best shawarma I've ever had. Th...,nsGSPK-uGiGVfiAGExr7MA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1397124,2015-03-15,1,"Only wanna say that ""they serve you cold food""...",UrB0ZdyNXQFr2v55BcCM8Q,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1469719,2017-03-03,5,I was treated very well here by friendly and w...,rPRZgFOcYNf8IQH35llAFg,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1537272,2014-02-26,4,Its a nice and Clean place but kitchen is smal...,p0Gjn9T71qMBBETgB4roMA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1547319,2016-03-16,5,The best shawarma in Toronto and it gets bette...,172QcMh3IJNcBaIO12CH-g,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1828378,2016-10-18,5,"I could eat here every day. Fair price, huge p...",tcrXNvdyqAqgUdz8tbbxbg,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1832062,2013-08-16,5,It's absolutely insane how many times I've pas...,zYlOKeUMG1Jui2cz3y9MQw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1919705,2016-08-20,4,One the best turkish shawarma places in toront...,1x-qFSs78XS75ZglTXCdHA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
1956406,2017-12-03,5,"I love this place, there is something about th...",1bW2p3LRkMkw6boA0lrqKw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2052939,2017-03-16,4,Love this place. Never disappoints. Hands down...,fchcXK29PqSqfX8dsbYONA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2081944,2018-04-20,3,I adore the exotic flavors of the Middle East ...,B7p9COTEFwBe3BtpMWwdkA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2155493,2017-01-04,4,Delicious shawarma. Clean restaurant and tons ...,cziAEcpBGauzaQ1z4XS3Nw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2366257,2016-08-05,1,Over price and salad are not fresh I was dissa...,ZzJhn1FvNEq7HORlq5158g,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2510471,2017-03-08,5,Simply delicious. The ingredients were fresh ...,e5zL9ZNRwGpnd7wOWLmjtA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2601427,2014-02-09,5,Beef shwarma is delicious! The place is clean ...,eUaKyOuR9ncMn25MgOHkXQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2705343,2016-11-21,4,This review is based on the over 20+ times tha...,R8MsiWWHDPFOtU51o4vRBA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2724310,2017-06-02,2,Got a chicken shawarma sandwich. Pretty bland....,F5R_8Y4A2Pv9pqYoMyv7Ig,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2792251,2013-10-29,3,Kinda pricey but pretty good shawarma. Don't b...,1kHHj2cZ8np-J4dBI5uRTQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
2876230,2017-06-07,3,I had lunch today at Euro Shawarma. When I go...,y2US6nyjv3PlPkMAeFNQuA,XczlQNshayG-GCciSEYKvA,Euro Shawarma
2914465,2014-08-02,2,"Pluses: reasonable price, generous portions. ...",sEh4kp00Mh3xzAqpR0m6-Q,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3215515,2016-11-18,5,Best shawarma's in the area! They give so much...,02uCX3WnnvtNnDZPE7LdDA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3216647,2016-08-24,5,"Nice place, shawarma is very tasty. Good spot ...",sDRy8PseAAY8UrLtF0GbKQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3229696,2017-11-06,3,This place is located right beside the Tim Hor...,XDaQjUKLZiPi9-E8mjae1Q,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3287757,2017-04-21,5,Very delicious food and amazing customer servi...,PkTJl74B2JOnIt3iBRON6Q,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3361502,2017-03-09,1,I picked up a shawarma for lunch and I'm not t...,FfyiidC5OS3D0AREeL10Qw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3375572,2018-02-04,5,Great spot to eat middle eastern food the quan...,jCpcv5wtUIdTw3ARFasKrA,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3417356,2017-04-04,3,"First time I went there, the shwarma was good ...",kDB1SI-9nxxjwtcsoQmePQ,XczlQNshayG-GCciSEYKvA,Euro Shawarma
3453156,2016-08-10,4,I have had countless shawarmas from this place...,uUJsdh-P1CjB60d_TsMfRQ,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3458505,2017-03-31,5,Had a chicken shawarma sandwich earlier today....,LjKjsWv21vPqzCmS-2iwXw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3501675,2013-08-08,4,This seems like an appropriate choice for my f...,_TU4UtyhqJdH4mVG9gt2nw,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma
3624714,2017-09-18,4,The shawarma here tastes amazing and definitel...,v9b3NDHVY5Zvudbl7V7S1w,NNs2v3f6FIdZ7cSu3LRaHw,Euro Shawarma

In [59]:
review_df.head()

,date,stars,text,review_id,business_id,business_name
0,2011-02-25,2,The pizza was okay. Not the best I've had. I p...,x7mDIiDB3jEiPGPHOmDzyw,iCQpiavjjPzJ5_3gPD5Ebg,Secret Pizza
1,2012-11-13,5,I love this place! My fiance And I go here atl...,dDl8zu1vWPdKGihJrwQbpw,pomGBqfbxcqPv14c3XH-ZQ,Leticia's Mexican Cocina
2,2014-10-23,1,Terrible. Dry corn bread. Rib tips were all fa...,LZp4UX5zK3e-c5ZGSeo3kA,jtQARsP6P-LbkyjbO1qNGg,H&H BBQ Plus 2
3,2011-02-25,2,Back in 2005-2007 this place was my FAVORITE t...,Er4NBWCmCD4nM8_p1GRdow,elqbBhBfElMNSrjFqW3now,Pin Kaow Thai Restaurant
4,2014-09-05,5,Delicious healthy food. The steak is amazing. ...,jsDu6QEJHbwP2Blom1PLCA,Ums3gaP2qM3W1XcA5r6SsQ,Braddah's Island Style

In [45]:
review_df.shape

(3654796, 6)

#### Save clean review data

In [60]:
%%time
review_df.to_csv(restaurant_review_filepath, index = False)

CPU times: user 1min 3s, sys: 11.6 s, total: 1min 15s
Wall time: 1min 27s

### Clean restaurant data

#### Load restaurant data

In [47]:
restaurant_df = pd.read_csv(restaurant_filepath)

/anaconda3/envs/dsi/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [48]:
restaurant_df.head()

,attributes.WiFi,hours.Monday,attributes.RestaurantsPriceRange2,hours.Sunday,attributes.CoatCheck,attributes.RestaurantsGoodForGroups,neighborhood,attributes.DriveThru,city,attributes.NoiseLevel,...,stars,attributes.RestaurantsAttire,hours.Thursday,attributes.Music,review_count,attributes.BikeParking,name,attributes.OutdoorSeating,attributes.WheelchairAccessible,attributes.Corkage
0,NaN,8:30-17:0,2.0,NaN,NaN,True,NaN,NaN,Calgary,average,...,4.0,casual,11:0-21:0,NaN,24,False,Minhas Micro Brewery,False,NaN,NaN
1,no,NaN,2.0,17:0-23:0,NaN,True,NaN,False,Henderson,NaN,...,4.5,casual,NaN,NaN,3,False,CK'S BBQ & Catering,True,True,NaN
2,free,10:0-22:0,2.0,10:0-22:0,NaN,True,Rosemont-La Petite-Patrie,NaN,Montral,average,...,4.0,casual,10:0-22:0,NaN,5,True,La Bastringue,False,NaN,NaN
3,NaN,NaN,2.0,NaN,NaN,True,Ridgewood,NaN,Mississauga,NaN,...,2.0,casual,NaN,NaN,7,NaN,Thai One On,False,NaN,NaN
4,no,0:0-0:0,1.0,0:0-0:0,NaN,True,NaN,NaN,Avondale,average,...,2.5,casual,0:0-0:0,NaN,40,True,Filiberto's Mexican Food,False,True,NaN

In [49]:
restaurant_df.shape

(57173, 61)

In [50]:
restaurant_df.columns

Index(['attributes.WiFi', 'hours.Monday', 'attributes.RestaurantsPriceRange2',
       'hours.Sunday', 'attributes.CoatCheck',
       'attributes.RestaurantsGoodForGroups', 'neighborhood',
       'attributes.DriveThru', 'city', 'attributes.NoiseLevel', 'address',
       'attributes.BestNights', 'attributes.GoodForKids',
       'attributes.GoodForMeal', 'attributes.ByAppointmentOnly',
       'attributes.Open24Hours', 'attributes.RestaurantsTakeOut',
       'postal_code', 'hours.Friday', 'attributes.BusinessAcceptsBitcoin',
       'attributes.RestaurantsReservations', 'business_id', 'hours.Wednesday',
       'attributes.RestaurantsCounterService', 'attributes.HappyHour',
       'attributes.HairSpecializesIn', 'attributes.GoodForDancing',
       'attributes.AgesAllowed', 'attributes.Caters', 'is_open', 'attributes',
       'categories', 'attributes.RestaurantsDelivery', 'attributes.Alcohol',
       'latitude', 'hours.Saturday', 'attributes.DietaryRestrictions',
       'attributes.DogsAllowed', 'attributes.Smoking', 'attributes.Ambience',
       'attributes.AcceptsInsurance', 'attributes.BYOB', 'state',
       'attributes.BusinessParking', 'attributes.BYOBCorkage',
       'attributes.RestaurantsTableService',
       'attributes.BusinessAcceptsCreditCards', 'longitude', 'hours.Tuesday',
       'hours', 'attributes.HasTV', 'stars', 'attributes.RestaurantsAttire',
       'hours.Thursday', 'attributes.Music', 'review_count',
       'attributes.BikeParking', 'name', 'attributes.OutdoorSeating',
       'attributes.WheelchairAccessible', 'attributes.Corkage'],
      dtype='object')

### Cleaning Restaurant Data

#### Drop rows with missing `postal_code` or `city`

In [51]:
restaurant_df['postal_code'].isna().sum() / restaurant_df.shape[0]

0.002028929739562381

In [52]:
restaurant_df['city'].isna().sum() / restaurant_df.shape[0]

3.498154723383415e-05

0.2% of restaurants are missing postal code or city data. I will remove them.

In [53]:
restaurant_df = restaurant_df.dropna(subset=['postal_code', 'city'])

In [54]:
len(restaurant_df)

57056

#### Keep relevant columns

In [55]:
columns = ['name', 'business_id', 'stars', 'review_count', 
           'categories', 'longitude', 'latitude', 'postal_code', 'city', 'state']

restaurant_df = restaurant_df[columns]

In [56]:
restaurant_df.head()

,name,business_id,stars,review_count,categories,longitude,latitude,postal_code,city,state
0,Minhas Micro Brewery,Apn5Q_b6Nz61Tq4XzPdf9A,4.0,24,"Tours, Breweries, Pizza, Restaurants, Food, Ho...",-114.031675,51.091813,T2E 6L6,Calgary,AB
1,CK'S BBQ & Catering,AjEbIBw6ZFfln7ePHha9PA,4.5,3,"Chicken Wings, Burgers, Caterers, Street Vendo...",-114.939821,35.960734,89002,Henderson,NV
2,La Bastringue,O8S5hYJ1SMc8fA4QBtVujA,4.0,5,"Breakfast & Brunch, Restaurants, French, Sandw...",-73.599300,45.540503,H2G 1K7,Montral,QC
3,Thai One On,6OuOZAok8ikONMS_T3EzXg,2.0,7,"Restaurants, Thai",-79.632763,43.712946,L4T 1A8,Mississauga,ON
4,Filiberto's Mexican Food,8-NRKkPY1UiFXW20WXKiXg,2.5,40,"Mexican, Restaurants",-112.341302,33.448106,85323,Avondale,AZ

#### Last check for missing values

In [57]:
restaurant_df.isna().sum()

name            0
business_id     0
stars           0
review_count    0
categories      0
longitude       0
latitude        0
postal_code     0
city            0
state           0
dtype: int64

#### Save clean restaurant data

In [58]:
restaurant_df.to_csv(restaurant_filepath, index = False)